
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.content {
    background-color: rgba(240,240,240, 1);
    width: 1000px;
    min-height: 780px;
    padding: 10px;
}


#app {
    width:536px;
    background-color: rgba(255,255,255,1);
    border: 16px solid #ffffff;
    border-radius: 8px;
    color:#222222;
    font-family: 'Montserrat-Regular';
}


.header__text {
    font-size: 20px;
    text-align: left;
}

.header__button {
    width: 136px;
    height: 32px;
}

.button__text {
    text-align: left;
}

.header__button {
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(160deg, #BEC2F3, #F7CAEB);
    padding: 8px 8px 8px 10px;
    font-size: 11px;
    text-align: center;
}

.commet__add  {
    margin-bottom: 8px;
    min-height: 48px;
}

.commet__add__field {
    display: block;
    min-height: 48px;
    padding-left: 16px;
    box-sizing: border-box;
    border: .5px solid #707070;
    border-radius: 4px;
}

::-webkit-input-placeholder ,
:-moz-placeholder,
:-moz-placeholder ,          
:-ms-input-placeholder {
    color:#666666;
}

.commet__add__btn,
.confirm__btn {
    right: 0;
    display: flex;
    height: 100%;
    border: none;
    border-radius: 4px;
    width: 90px;
    color: #ffffff;
}

.commet__add__btn {
    opacity: 0;
}

.commet__button__img {
    margin-right: 7.42px;
}

.commet__add__field:focus,
.commet__add > .commet__add__btn {
    height: 48px;
}

.commet__add > .commet__add__field:focus {
    width: calc(100% - 85px);
    z-index: 100;
}

.commet__add__field:focus + .commet__add__btn  {
    opacity: 1;
    cursor: pointer;
    right: 0;
}
   
.comments-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
   
.comment__box {
    margin: 8px;
    border-radius: 4px;
    padding: 0 0 0 16px;
}

.comment__box:hover {
    background-color: rgba(44, 59, 255, .05);
    cursor: pointer;
}

.comments__item {
    height: 48px;
    overflow: hidden; 
}

.comments__ava {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}


.control__button  {
    background: rgba(250, 250, 250, 0);
    border: none;
}

.confirm {
    height: 48px;
}

.confirm__text {
    width: calc(100% - 61px * 2);
    height: inherit;
    border-radius: 0 4px 4px 0;
    z-index: 100;
    padding-left: 16px;
    background-color: #F4F5FF;
    color: #111111;
}

.confirm__btn-block {
    right: 0;
    height: inherit;
    z-index: 50;
}

.confirm__btn {
    font-family: 'MontserratBold';
    height: inherit;
    width: 56px;
    border-radius: 0 4px 4px 0;
}

.confirm__btn:first-child {
    z-index: 10;
    width: 54px;
    box-shadow: 4px 0 0 0 #2C3BFF;
}

